{% load static %}
<!--navbar-->
<nav class="navbar glass" style="height: 70px;">
    <span style="padding-top: 45px;"><a href="{% url 'home' %}"><img class="img2"src="https://drive.google.com/uc?export=view&id=18w44M_wq9TbQlwsK126yf8IAin4VxGiK" width="40"
        style="margin: -25px -20px"><h1 class="logo">Tourism</h1></a></span>
    <ul class="nav-links">
        <li><a href="{% url 'home' %}" id="pri" class="active cir_border">Home</a></li>
        <li><a href="#events"  id="sec" class="cir_border">Tours</a></li>
        <li><a href="#explore" id="tri" class="cir_border">Explore</a></li>
        <li><a href="#about" id="quad" class="cir_border">About</a></li>
        <li><a href="#dashboard" id="quint" class="cir_border">Dashboard</a></li>
        
        <li><div>
            <input type="checkbox" class="checkbox dark" id="checkbox">
          <label for="checkbox" class="label">
            <i class="fa fa-moon-o"></i>
            <i class='fa fa-sun-o'></i>
            <div class='ball'>
          </label>
        </div></li>
        {% if request.user.is_authenticated %}
            <div class="header__user">
                <a href="">
                    <div class="active cir_border">
                        <img src="{{request.user.avatar.url}}" height="40px" width="50px" />
                    </div>
                    <p>{{request.user.username}} </p>
                </a>
               
            </div>
            {% else %}

            <!-- Not Logged In -->
            <a href="{% url 'login' %}">
                
                <li><a href="{% url 'login' %}" id="pri" class="active cir_border">Login</a></li>
                
            </a>
            {% endif %}

            {% if request.user.is_authenticated %}

            <div class="dropdown-menu">
               
                <a href="{% url 'logout' %}" class="active cir_border"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                        width="32" height="32" viewBox="0 0 32 32">
                        <title>sign-out</title>
                        <path
                            d="M3 0h22c0.553 0 1 0 1 0.553l-0 3.447h-2v-2h-20v28h20v-2h2l0 3.447c0 0.553-0.447 0.553-1 0.553h-22c-0.553 0-1-0.447-1-1v-30c0-0.553 0.447-1 1-1z">
                        </path>
                        <path
                            d="M21.879 21.293l1.414 1.414 6.707-6.707-6.707-6.707-1.414 1.414 4.293 4.293h-14.172v2h14.172l-4.293 4.293z">
                        </path>
                    </svg>
                    Logout</a>
            </div>
            {% endif %}
    </ul>
    <img src="{% static 'images/menu-btn.png' %}" alt="" class="menu-btn">
</nav>
<!--navbar-->

    
