{% extends 'main.html' %}
{% load static %}


{% block content %}


<header id="home">
    <div class="header-content">
        <h2  id="quote">Explore the colourful World</h2>
        <div class="line"></div>
        <h1 >A WONDERFUL GIFT </h1>
        <a href="#" class="ctn">Learn more</a>
    </div>
</header>

<!--Events-->
<section class="events" id="events">
    <div class="container">
    <div class="title">
        <h1 class="dark">Upcoming Events</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <article class="card col">
            <img class="card-img" src="{% static 'images/img1.jfif' %}">
            <h4 class="dark">Everest camp trek</h4>
            <p class="font-color">Everest base camp trek is without a doubt, one of the most renowned travel destinations in the world.</p>
            <a href="#" class="ctn">All Details</a>
        </article>
        <article class="card col">
            <img src="{% static 'images/img2.jfif' %}">
            <h4 class="dark">Walking holidays</h4>
            <p class="font-color">Join small guided group walks, enjoy a challenging trek, or a luxury private guided walk which can be made especially for you.</p>
            <a href="#" class="ctn">All Details</a>
        </article>
        <article class="card col">
            <img src="{% static 'images/img2.jfif' %}">
            <h4 class="dark">Andaman Beaches</h4>
            <p class="font-color">Diving in Andaman Beaches is exceptional. The costal belt surroundings is one of the richest coral reef ecosystems in the world.</p>
            <a href="#" class="ctn">All Details</a>
        </article>
    </div>
</div>
</section>
<!--Events-->

<!--Explore-->
<section class="explore" id="explore">
    <div class="explore-content">
        <h1>EXPLORE THE WORLD</h1>
        <div class="line"></div>
        <p>“Travel makes one modest. You see what a tiny place you occupy in the world.”– Gustav Flaubert
        </br>Exploring will make you want to pack your bag, book that ticket and jet away. </p>
        <a href="#" class="ctn">Explore more</a>
    </div>
</section>
<!--Explore-->

<!--tours-->
<section class="tours">
    <div class="container row">
        <div class="col content-col">
            <h1 class="font-color">UPCOMING TOURS & DESTINATION</h1>
            <div class="line"></div>
            <p>Wed 28 sept 2023 : Port of Spain City Tour and Birdseye Fort View . </br>
               Sat 1 oct 2023 : Tour the Gasparee Caves.</br>
               Tues 4 oct 2023 : Trinidad North Coast Experience. </br> 
                and many more ......
             </p>
            <a href="#" class="ctn">Learn more</a>
        </div>
        <div class="image-col">
            <div class="image-gallery">
                <img src="{% static 'images/img3.png' %}" alt="">
                <img src="{% static 'images/img4.png' %}" alt="">
                <img src="{% static 'images/img5.png' %}" alt="">
                <img src="{% static 'images/img6.png' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!--tours-->

<!-- About -->
<section id="about">
    <div class="title">
        <h1 class="font-color">About Us</h1>
        <div class="line"></div>
    </div>
    <div id="about_us">
        <div class="boxx">
            <p>Inspire you to explore World tours beyond the usual well-known locations. Heritage Tours of World. Art & Culture Tours. Wildlife with Game Drive.
                Our experienced travel experts design the trips covering the most famous tourist destinations, including sightseeing and accommodation at fine quality hotels. We aim at providing guests with the best of each country.
            </br></br>Explore the different horizons of the world with us and create memories for a lifetime.</p>
        </div>
    </div>
</section>
<!-- About -->





<!-- up scroll -->
<i class="fa fa-chevron-up" onclick="topFunction()" id="upbtn"></i>
<section id="dashboard">
<!-- end -->
<iframe title="okkkkkkkk" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=54978e5d-d7dc-4076-a543-d607ee3d14c5&autoAuth=true&ctid=513486ec-6643-4f17-a508-76478311be42" frameborder="0" allowFullScreen="true"></iframe>
</section>
<!--footer-->
<section class="footer">
    <span>Created By Pritam Sarbajna | &#169 2022 All rights reserved.</span>
    <div class="social">
        <li>
            <a href="https://pritam-sarbajna-portfolio.netlify.app/" target="_blank" rel="noreferrer"><i class="fa fa-globe"></i></a>
            <a href="https://github.com/PritamSarbajna" target="_blank" rel="noreferrer"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/pritam-sarbajna-74945821b/" target="_blank" rel="noreferrer"><i class="fa fa-linkedin-square"></i></a>
        </li>
    </div>
</section>
<!--footer-->


{% endblock content %}