{% extends 'main.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}" />
<link rel="stylesheet" href="{% static 'styles/style_main.css' %}" />
<link rel="stylesheet" href="{% static 'styles/responsive.css' %}" />
{% endblock css %}
{% block js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock js %}


{% block content %}

<div class="container">
  <div class="layout__box">
    <div class="layout__boxHeader">
      <div class="layout__boxTitle">
        <h3>Predict Average Length of Stay</h3>
      </div>
    </div>
    <div class="layout__body">
      <h2 class="auth__tagline">Predict Average Length of Stay</h2>

      <form class="form" action="" method="POST">
        {% csrf_token %}

        {% for field in form %}
        <div class="form__group form__group">
          <label for="room_name">{{field.label}}</label>
          {{field}}
        </div>
        {% endfor %}


        <button class="btn btn--main" type="submit">
          

          Predict
        </button>
      </form>

     
      
    </div>
  </div>
</div>
{% endblock content %}